<div class="page-layout blank p-24">

  <button style="float: left;" mat-raised-button class="mat-accent mr-16" (click)="addAds()">إضافة حملة
    <mat-icon class="s-30">add</mat-icon>

  </button>
  <br>
  <br>
  <br>

  <div *ngIf="loadingIndicator == false" style="margin-right: 45%;">
    <mat-spinner></mat-spinner>
  </div>

  <ngx-datatable *ngIf="rows[0]!=null && loadingIndicator == true" class="material" [rows]="rows" [columnMode]="'force'"
    [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable"
    [limit]="5">


    <ngx-datatable-column [width]="150" name="اسم الحملة" prop="name">
    </ngx-datatable-column>



    <ngx-datatable-column [width]="150" name="نوع الحملة" prop="type">
    </ngx-datatable-column>


    <ngx-datatable-column [width]="150" name="المستهدفين" prop="target">
    </ngx-datatable-column>

    <ngx-datatable-column [width]="150" name="الحالة" prop="status">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <mat-chip-list>
         <!--  <mat-chip [class.chip-active]="row.status == 'active'" [class.chip-expired]="row.status == 'expired'"
          [class.chip-completed]="row.status == 'completed'" [class.chip-pending]="row.status == 'pending'" selected>{{row.status}}</mat-chip> -->
          <mat-chip *ngIf="row.status == 'active'" style="background-color:#0095ff" selected>{{row.status}}</mat-chip>
          <mat-chip *ngIf="row.status == 'expired'" style="background-color:#e81d1d" selected>{{row.status}}</mat-chip>
          <mat-chip *ngIf="row.status == 'completed'" style="background-color:#15b328" selected>{{row.status}}</mat-chip>
          <mat-chip *ngIf="row.status == 'pending'" style="background-color:#e8a713" selected>{{row.status}}</mat-chip>
        </mat-chip-list>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [width]="200" name="id">
      <ng-template let-column="column" ngx-datatable-header-template>
        <div class="table-header-font">
          Action
        </div>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <!-- <button style="background-color: rgba(24, 179, 24, 0.795);" *ngIf="row['status']==0" mat-mini-fab class="mat-accent mr-16"
          (click)="toggleRow(row)">
          <mat-icon style="color : white ;">check</mat-icon>
        </button>
        <button style="background-color: rgba(187, 35, 35, 0.815);" *ngIf="row['status']==1" mat-mini-fab class="mat-accent mr-16"
          (click)="toggleRow(row)">
          <mat-icon style="color: white;">close</mat-icon>
        </button> -->
        <button style="background-color: rgba(7, 112, 7, 0.849);" mat-mini-fab class="mr-16" (click)="view(row['id'])">
          <mat-icon style="color : white;">visibility</mat-icon>
        </button>
        <button *ngIf="isAdmin" mat-mini-fab class="mr-16" (click)="edit(row)" style="background-color: rgba(20, 160, 202, 0.911);">
          <mat-icon style="color : white;">edit</mat-icon>
        </button>


      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

</div>