<div class="page-layout blank p-24" fusePerfectScrollbar>

  <button style="float: left;" mat-raised-button class="mat-accent mr-16" (click)="addPartner()">إضافة مستخدم
    <mat-icon class="s-30">add</mat-icon>

  </button>
  <br>
  <br>
  <br>

  <div *ngIf="loadingIndicator == false" style="margin-right: 45%;">
    <mat-spinner></mat-spinner>
  </div>


  <ngx-datatable *ngIf="loadingIndicator == true" class="material vertical-scroll" [rows]="rows" [columnMode]="'force'"
    [headerHeight]="50" [rowHeight]="50" [footerHeight]="50" [scrollbarV]="false" [scrollbarH]="false" [externalPaging]="true"
    [count]="count" [offset]="offset" [limit]="limit" (page)='onPage($event)'>

    <ngx-datatable-column name="رقم الموبايل" prop="partner_mobile">
    </ngx-datatable-column>




    <ngx-datatable-column name="الإيميل" prop="email">
    </ngx-datatable-column>

    <ngx-datatable-column name="العمل" prop="businessName">
    </ngx-datatable-column>

    <ngx-datatable-column name="الرصيد" prop="balance">
    </ngx-datatable-column>

    <ngx-datatable-column name="الحد الأدنى للرصيد" prop="min_balance">
    </ngx-datatable-column>



    <ngx-datatable-column name="id">
      <ng-template let-column="column" ngx-datatable-header-template>
        <div style="padding-right : 17px; padding-top:12px;">
          Action
        </div>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <button style="background-color: rgba(24, 179, 24, 0.795);" *ngIf="row['status']==0" mat-mini-fab class="mat-accent mr-16"
          (click)="toggleRow(row)"><mat-icon style="color : white ;">check</mat-icon></button>
        <button style="background-color: rgba(187, 35, 35, 0.815);" *ngIf="row['status']==1" mat-mini-fab class="mat-accent mr-16"
          (click)="toggleRow(row)"><mat-icon style="color: white;">close</mat-icon></button>
        <button  mat-mini-fab class="mr-16" (click)="edit(row['id'])" style="background-color: rgba(20, 160, 202, 0.911);">
          <mat-icon style="color : white;">edit</mat-icon></button>

      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

</div>