<div class="page-layout blank p-24" fusePerfectScrollbar>

  <button style="float: left;" mat-raised-button class="mat-accent mr-16" (click)="addAds()">إضافة إعلان
                            <mat-icon class="s-30">add</mat-icon>

  </button>
  <br>
  <br>
  <br>
  <ngx-datatable *ngIf="rows[0]!=null" class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
    [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable" [limit]="5">


    <ngx-datatable-column name="اسم الإعلان" prop="name">
    </ngx-datatable-column>



    <ngx-datatable-column name="نوع الإهلان" prop="type">
    </ngx-datatable-column>

    <ngx-datatable-column name="id">
      <ng-template let-column="column" ngx-datatable-header-template>
        صورة
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <!--<i class="pb-icon icon-edit" (click)="detail(row)">{{row|json}}</i>-->
        <img src="{{row['thumb_link']}}">
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="id">
      <ng-template let-column="column" ngx-datatable-header-template>
        Action
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <button style="float: left;background-color: darkgreen;" *ngIf="row['status']==0" mat-raised-button class="mat-accent mr-16" (click)="toggleRow(row)">تفعيل</button>
        <button style="float: left;background-color: brown;"  *ngIf="row['status']==1" mat-raised-button class="mat-accent mr-16" (click)="toggleRow(row)">إلغاء تفعيل</button>
        <button style="float: left;" mat-raised-button class="mat-accent mr-16" (click)="edit(row['id'])">تعديل</button>

      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

</div>
