.table-header-font {
  font-size: 18px;
}

:host ::ng-deep .datatable-header .datatable-header-cell.sortable .datatable-header-cell-wrapper {
  font-size: 18px !important;
  cursor: pointer;
}

.headerInfo {
  margin: 10px 0px;
  padding: 10px 10px;
  background-color: rgba(72, 61, 139, 0.4196078431372549);
  color: white;
  h3 {
    text-align: center;
  }
}

.ads {
  margin: 10px 0px;
  .section1 {
    .card {
      height: 200px;
      padding: 10px;
      background-color: #323068;
      color: white;
      border-radius: 0px;
      box-shadow: 0 0 12px #828282;
      .label {
        font-size: 32px;
        font-weight: 600;
        font-family: 'Cairo', sans-serif;
        padding-right: 20px;
        @media screen and (max-width: 700px) {
          font-size: 30px;
        }
      }
      .details {
        padding-right: 20px;
        margin-top: 14px;
        .from {
          label {
            font-size: 15px;
            font-weight: 600;
            font-family: 'Cairo', sans-serif; //text-align: center;
            padding-right: 12px;
            display: block;
            color: #cccccc;
            @media screen and (max-width: 700px) {
              font-size: 20px;
            }
          }
          h3 {
            font-size: 50px;
            font-weight: 700;
            font-family: 'Cairo', sans-serif;
            text-align: center;
            margin: 3px;
            @media screen and (max-width: 700px) {
              font-size: 25px;
            }
          }
        }
      }
      @media screen and (max-width: 700px) {
        height: 150px;
      }
    }
  }
}

.container {
  max-height: inherit !important;
  .myCard {
    padding: 20px 0px;
    .cardCategory {
      -webkit-transition: background-color 500ms linear;
      -moz-transition: background-color 500ms linear;
      -o-transition: background-color 500ms linear;
      -ms-transition: background-color 500ms linear;
      transition: background-color 500ms linear;
      position: relative;
      color: white;
      min-width: 0px;
      max-width: 500px !important;
      .residual {
        right: 25px;
        position: absolute;
        margin: 0px;
        opacity: 0.6;
      }
      .title {
        padding-bottom: 0;
        display: inline-flex;
        .count {
          font-size: 20px;
          margin-top: -2px;
          .timeCount {
            font-weight: bold;
            color: #ffffff !important;
            text-shadow: 0px 0px 3px #505050;
          }
        }
        .mat-icon {
          color: white;
        }
      }
      .main {
        text-shadow: 0px 0px 7px #616161;
        padding: 0px;
        margin-top: 10px;
        .priceDiv {
          text-align: center;
          direction: ltr;
          .price {
            font-weight: bold;
            margin: 0px;
            text-align: center;
            font-size: 36px;
          }
        }
      }
      .addButton {
        font-weight: bold;
        padding: 0px 15px !important;
      }
    }
  }
}
