:host ::ng-deep .datatable-header .datatable-header-cell.sortable .datatable-header-cell-wrapper {
    font-size: 18px !important;
    cursor: pointer;
  }

  .table-header-font {
    font-size: 18px;
    padding-right : 17px;
    padding-top:12px;
}