mat-form-field{
    width: 100%;
}

::ng-deep .mat-select::placeholder {
    color:red !important;
    background-color:red !important;
}

.btn-add {
    margin-top: 15px; 
    float: left; 
    color:white; 
    background-color:rgb(41, 158, 17);
}

:host ::ng-deep .datatable-header .datatable-header-cell.sortable .datatable-header-cell-wrapper {
    font-size: 18px !important;
    cursor: pointer;
  }

  .table-header-font {
    font-size: 18px;
    padding-right : 17px;
    padding-top:12px;
}

.view {
    margin-top: 22px;
    .section1 {
      padding: 10px;
      background-color: darkslateblue;
      box-shadow: 0 0 12px #828282;
      width: 100%;
      h1 {
        color: white;
        font-weight: bold;
      }
      .from {
        label {
          font-size: 25px;
          text-align: center;
          display: block;
          color: #cccccc;
        }
        h3 {
          font-size: 30px;
          text-align: center;
          margin: 3px;
          color: white;
        }
      }
    }
  }