mat-form-field{
    width: 100%;
}

::ng-deep .mat-select::placeholder {
    color:red !important;
    background-color:red !important;
}

.btn-add {
    margin-top: 15px; 
    float: left; 
    color:white; 
    background-color:rgb(41, 158, 17);
}

:host ::ng-deep .datatable-header .datatable-header-cell.sortable .datatable-header-cell-wrapper {
    font-size: 18px !important;
    cursor: pointer;
  }

  .table-header-font {
    font-size: 18px;
    padding-right : 17px;
    padding-top:12px;
}